<?js
    var params = obj;

    /* sort subparams under their parent params (like opts.classname) */
    var parentParam = null;
    params.forEach(function(param, i) {
        if (!param) { return; }
        if ( parentParam && param.name && param.name.indexOf(parentParam.name + '.') === 0 ) {
            param.name = param.name.substr(parentParam.name.length+1);
            parentParam.subparams = parentParam.subparams || [];
            parentParam.subparams.push(param);
            params[i] = null;
        }
        else {
            parentParam = param;
        }
    });

    /* determine if we need extra columns, "attributes" and "default" */
    params.hasAttributes = false;
    params.hasDefault = false;
    params.hasName = false;

    params.forEach(function(param) {
        if (!param) { return; }

        if (param.optional || param.nullable || param.variable) {
            params.hasAttributes = true;
        }

        if (param.name) {
            params.hasName = true;
        }

        if (typeof param.defaultvalue !== 'undefined') {
            params.hasDefault = true;
        }
    });
?>

<ul class="parameters">
	<?js
        var self = this;
	    params.forEach(function(param) {
	        if (!param) { return; }
	?>

        <li>
          <div class="head">
            <?js if (params.hasName) {?>
                <span class="name"><code><?js= param.name ?></code></span>
            <?js } ?>

            <?js if (param.type && param.type.names) {?>
            <span class="type">
              <?js= self.partial('type.tmpl', param.type.names) ?>
            </span>
            <?js } ?>

            <?js var requiredStr = param.optional ? 'optional' : 'required'; ?>
            <span class="<?js= requiredStr ?>">
              <?js= requiredStr ?>
            </span>

            <?js if (params.hasAttributes) {?>
              <span class="attributes">
              <?js if (param.nullable) { ?>
                  &lt;nullable><br>
              <?js } ?>

              <?js if (param.variable) { ?>
                  &lt;repeatable><br>
              <?js } ?>
              </span>
            <?js } ?>
          </div>

            <?js if (params.hasDefault) {?>
                <div class="default">
                <?js if (typeof param.defaultvalue !== 'undefined') { ?>
                    <?js= self.htmlsafe(param.defaultvalue) ?>
                <?js } ?>
                </div>
            <?js } ?>

            <div class="description last"><?js= param.description ?><?js if (param.subparams) { ?>
                <h6>Properties</h6>
                <?js= self.partial('params.tmpl', param.subparams) ?>
            <?js } ?></div>
        </li>

	<?js }); ?>
</ul>
