<?js
var data = obj;
var self = this;
?>

<div class="method">

<div class="bar">
    <h3 id="<?js= id ?>">
      <?js= data.attribs + (kind === 'class' ? 'new ' : '') + name ?>
      <?js= '( ' + data.miso.params.join(', ') + ' )' ?>
    </h3>
    <span class="returns">
      <?js if (kind !== 'event' && data.miso.returnTypes.length) { ?>
        Returns: <span class="object"><?js= data.miso.returnTypes.join('|') ?>
      <?js } ?>
    </span>
</div>

<?js if (data.summary) { ?>
<p class="summary"><?js= summary ?></p>
<?js } ?>



<?js if (data.description) { ?>
<div class="description">
    <?js= data.description ?>
</div>
<?js } ?>

<?js if (data.externalExamples) { ?>
    <?js data.externalExamples.forEach(function(example) { ?>
        <div class="codeblock">
          <textarea name="codehelper" class="code" mode="" <?js
            if (example.isRunnable) {
            ?>runnable="true" showConsole="true" buttons="run,reset,clear"<?js
            } else {
            ?>showConsole="false" buttons="none"'<?js
            }?> autorun="" callbacks-clear="" callbacks-reset="" callbacks-run=""><?js=
            example.src
          ?></textarea>
          <div class="helptext">
            You can edit the code in this block and rerun it.
          </div>
        </div>
    <?js }) ?>
<?js } ?>

<?js if (kind === 'event' && data.type && data.type.names) {?>
    <h3>Type</h3>
    <ul>
        <li>
            <?js= self.partial('type.tmpl', data.type.names) ?>
        </li>
    </ul>
<?js } ?>

<?js if (data['this']) { ?>
    <h3>This</h3>
    <ul><li><?js= this.linkto(data['this'], data['this']) ?></li></ul>
<?js } ?>

<?js if (data.params && params.length) { ?>
    <h3>Parameters</h3>
    <?js= this.partial('params.tmpl', params) ?>
<?js } ?>

<?js if (data.fires && fires.length) { ?>
<h3>Fires</h3>
<ul><?js fires.forEach(function(f) { ?>
    <li><?js= self.linkto(f) ?></li>
<?js }); ?></ul>
<?js } ?>

<?js if (data.listens && listens.length) { ?>
<h3>Listens to Events</h3>
<ul><?js listens.forEach(function(f) { ?>
    <li><?js= self.linkto(f) ?></li>
<?js }); ?></ul>
<?js } ?>

<?js if (data.listeners && listeners.length) { ?>
<h3>Listeners of This Event</h3>
<ul><?js listeners.forEach(function(f) { ?>
    <li><?js= self.linkto(f) ?></li>
<?js }); ?></ul>
<?js } ?>

<?js if (data.exceptions && exceptions.length) { ?>
<h3>Throws</h3>
<?js if (exceptions.length > 1) { ?><ul><?js
    exceptions.forEach(function(r) { ?>
        <li><?js= self.partial('exceptions.tmpl', r) ?></li>
    <?js });
?></ul><?js } else {
    exceptions.forEach(function(r) { ?>
        <?js= self.partial('exceptions.tmpl', r) ?>
    <?js });
} } ?>

<?js if (data.returns && returns.length) { ?>
<h3>Returns</h3>
<?js if (returns.length > 1) { ?><ul><?js
    returns.forEach(function(r) { ?>
        <li><?js= self.partial('returns.tmpl', r) ?></li>
    <?js });
?></ul><?js } else {
    returns.forEach(function(r) { ?>
        <?js= self.partial('returns.tmpl', r) ?>
    <?js });
} } ?>

<?js if (data.examples && examples.length) { ?>
    <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
    <?js= this.partial('examples.tmpl', examples) ?>
<?js } ?>

<?js= this.partial('details.tmpl', data) ?>

</div>
